<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza delivery shop</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand m-auto" href="/">Pizza delivery shop</a>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <a href="/izaberi-izvjestaj">1. Generisi izvjestaj</a><br>
      <a href="/slike-proizvoda">2. Pregled proizvoda sa slikama</a><br>
      <a href="/status-narudzbi">3. Pregled statusa narudzbe</a><br>
      <a href="/zaduzenja">4. GPD Zaduzenja vozila</a><br>
    </div>
  </div>
</div>

<!-- Bootstrap JS i jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
