<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dodaj Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Narudzbe Statusi</title>
</head>
<body>
<div class="container mt-5">
    <h1>Narudzbe Statusi</h1>
    <br>
    <ul class="list-group">
        <% statusNarudzbe.forEach(status => { %>
            <li class="list-group-item">
                <p class="mb-1">Narudžba ID: <%= status.narudzbaId %></p>
                <p class="mb-1">Status narudžbe: <%= status.statusNarudzbe %></p>
            </li>
        <% }); %>
    </ul>
    <br>
    <br>
</div>

<!-- Dodaj Bootstrap JS i Popper.js skripte (opciono, ali korisno za neke Bootstrap komponente) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
