<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaduženje vozila</title>
    <!-- Dodaj Bootstrap linkove ovdje -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-success">Uspešno zaduženo vozilo</h1>
    <p><%= message %></p>
    <br>
    <br>
    <a href="/zaduzenja-vozila-forma"><button type="submit" class="btn btn-primary">Nazad na formu!</button></a>
    <br>
    <br>

</div>
</body>
</html>
